@page "/lektury"
@inject IBookRepository BookRepository
@inject IJSRuntime JS
@rendermode InteractiveServer

<PageTitle>Lista lektur</PageTitle>

@if (IsLoading)
{
    <div class="position-absolute w-75  h-75 d-flex flex-column align-items-center bg-white justify-content-center">
        <img src="/images/loading-book.gif" alt="loading" />
        <p>Ładowanie...</p>
    </div>
}

else
{
    <div class="card shadow border-0">
        <div class="card-header bg-theme bg-gradient ml-0 py-3">
            <div class="row">
                <div class="col-12 text-center">
                    <h2 class="h2-custom">Lista lektur</h2>
                </div>
            </div>
        </div>

        <div class="card-body p-4">
            <div class="row pb-3">
            </div>

            @if (Books.Any())
            {

                int index = 1;

                <div class="table-responsive">
                    <table class="tbl-cat table-hover">
                        <thead>
                            <tr>
                                <th></th>
                                <th>#</th>
                                <th>Klasa</th>
                                <th>Autor</th>
                                <th>Tytuł</th>
                                <th>Wydawca</th>
                                <th>Rok wydania</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var book in Books)
                            {
                                <tr>
                                    <td>
                                        <a href="/lektury/view/@book.Id?returnUrl=/lektury" class="btn btn-outline-primary btn-sm">
                                            <i class="bi bi-info-square"></i>
                                        </a>
                                    </td>
                                    <td class="td-center fw-bold">@index</td>
                                    <td class="td-center">@book.Class</td>
                                    <td>@book.BookAuthor</td>
                                    <td>@book.Title</td>
                                    <td>@book.BookPublisher</td>
                                    <td class="td-center">@book.Year</td>
                                </tr>
                                index++;
                            }
                        </tbody>
                    </table>
                </div>
            }

        </div>
    </div>
}

@code {
    private bool IsLoading { get; set; } = true;
    private IEnumerable<BookGetDto> Books { get; set; } = new List<BookGetDto>();

    protected override async Task OnInitializedAsync()
    {
        await LoadBooks();
        IsLoading = false;
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JS.InvokeVoidAsync("applyUserPreferences");
        }
    }

    private async Task LoadBooks()
    {
        Books = await BookRepository.GetLekturyAsync();
    }
}